<html>
<script>
</script>
<body>
	<table>
<tr><td>
	<img src="data:<%=output.mimetype%>;base64,<%=output.data%>"/>
</td></tr>
			<tr><td>Title</td><td><%=output.title%></td></tr>
			<tr><td colspan="2">Location</td><td></td></tr>
			<tr><td>Lat</td><td><%=output.location.lat%></td></tr>
			<tr><td>Lon</td><td><%=output.location.lon%></td></tr>
			<tr><td>Description</td><td><%=output.description%></td></tr>
			<tr><td>Opening Hours</td><td><%=output.hours%></td></tr>
<tr><td>Like</td><td><%=output.rank.like%></td></tr>
<tr><td>Dislike</td><td><%=output.rank.dislike%></td></tr>
	</table>
</body>

</html>
